@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1>Vítejte!</h1>
    <p>
        Tato webová aplikace byla vytvořena za účelem splnění úkolu předmětu Programování v aplikacích.<br /><br />
        Zpracoval: Jan Mirvald<br />
        E-mail: <a href="mailto:honzamirvald@seznam.cz">honzamirvald@seznam.cz</a><br />
        Třída: AIK2<br />
        Šk. rok: 2023/2024
    </p>
</div>
